*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Quicksand ,'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
.Toastify__toast-body div{
    font-size: 1.6rem;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.greenColor{
    color: green;
}
.redColor{
    color: red;
}