.reviewListContainer{
    height: 100%;
}

.reviewListContainer form{
    min-height: 50%;
}

@media screen and (max-width: 600px){
    .reviewListContainer .newProductForm{
        width: auto;
    }
}