.sidebar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.sidebar > a > img{
    width: 8rem;
    transition: all 0.5s;
}

.sidebar a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    padding: 1rem;
}

.sidebar a:hover{
    color: tomato;
}

.sidebar a > p{
    display: flex;
    align-items: center;
}

.sidebar a > p > svg{
    margin-right: 0.5rem;
}
.sidebar ul{
    padding: 1rem;
    padding-bottom: 0.7rem;
}
.sidebar ul:hover{
    padding: 1rem;
    padding-bottom: 0.7rem;
}
.sidebar ul .css-1g86id8-MuiTreeItem-content:hover,
.sidebar ul .css-1g86id8-MuiTreeItem-content:hover .MuiTreeItem-label{
    color: tomato !important;
}

.MuiTreeItem-label{
    font-size: 1.6rem !important;
    padding-left: 0 !important;
}
.Mui-expanded .MuiTreeItem-label, .MuiTreeView-root > li > .MuiTreeItem-content .MuiTreeItem-label{
    color: rgba(0, 0, 0, 0.5);
}
.css-1g86id8-MuiTreeItem-content{
    padding: 0 !important;
}
.sidebar a.active{
    color: tomato;
}