.confirmOrderContainer{
    display: flex;
    min-height: 55vh;
    align-items: center;
    padding: 10rem;
    gap: 5rem;
}

.confirmOrderContainer h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.confirmOrderContainer > .side1{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.userInfo > p{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.62);
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: .5rem;
    margin-left: 2rem;
}

.userInfo > p > span{
    display: inline-block;
    width: 27rem;
}

.cartItem{
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;
    margin-left: 2rem;
}

.cartItem > img{
    width: 5rem;
}

.cartItem > p{
    font-size: 1.6rem;
}

.cartItem > p:last-child{
    justify-self: end;
}

.confirmOrderContainer > .side2{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.side2 > h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 1rem;
}

.side2 > p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.side2 > p:last-of-type{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    color: #000;
}

.side2 > button{
    border: none;
    outline: none;
    width: 100%;
    background-color: tomato;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

.side2 > a:hover{
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
    .confirmOrderContainer{
        padding: 0;
        padding-top: 1rem;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: flex-start;
    }
    .confirmOrderContainer > .side1{
        padding-right: 0;
        border-right: none;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .userInfo{
        width: 100%;
        overflow: hidden;
    }
    .confirmOrderContainer .userInfo > p{
        width: 100%;
    }
    .confirmOrderContainer > .side2{
        width: 100%;
    }
}