.forgetPasswordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(240,240,240);
    position: fixed;
    top: 0;
    left: 0;
}

.forgetPassword{
    background-color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    height: 30vh;
}

.forgetPassword > h1{
    font-size: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    width: 20rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.forgetPasswordForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    height: 80%;
    transition: 0.5s all ease;
}

.forgetPasswordForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}
.forgetPasswordForm > div > input{
    padding: 1rem 4rem;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: cursive;
    outline: none;
} 
.forgetPasswordForm > div > svg{
    font-size: 2.5rem;
    transform: translateX(1rem);
    position: absolute;
}
.loginForm > a{
    color: rgba(0,0,0,0.65);
    text-decoration: none;
    font-size: 1.3rem;
    align-self: flex-end;
    transition: 0.5s all ease;
}

.forgetPasswordImage > img{
    width: 3.5rem;
    border-radius: 100%;
}
.forgetPasswordImage > input{
    display: flex;
    padding: 0 !important;
    margin-left: 1rem;
}
.forgetPasswordImage > input::file-selector-button{
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #fff;
    height: 4rem;
    font-family: cursive;
    font-size: 1.6rem;
}
.forgetPasswordSubmit{
    border: none;
    outline: none;
    width: 100%;
    background-color: tomato;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}
.forgetPasswordSubmit:hover{
    background-color: rgb(179, 66, 46);
}