.speedDial{
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10 !important;
}

.speedDial > button.MuiButtonBase-root{
    background-color: #fff;
}

.speedDialIcon{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

#SpeedDialtooltipexample-actions > button > svg{
    font-size: 3rem;
}

.MuiTooltip-tooltip{
    font-size: 1.6rem !important;
}

.nav1{
    padding-left: 4rem;
}

.nav4{
    gap: 1rem;
}